body {
    cursor: pointer;
}

.btn {
    border-radius: 0;
}

.header {
    margin-bottom: 50px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}